// ------------------------------------------------------------------------------------------------
// TABS
// ------------------------------------------------------------------------------------------------

.xts-tabs {
	flex-grow: 1;
	padding-left: 15px;
	padding-right: 15px;

	> div {

		&:last-child {
			border-bottom: 1px solid #e7e7e7;
		}
	}

	&:not(:first-child) {
		margin-top: 30px;
	}
}

.xts-tabs-header {
	margin-bottom: 20px;
}

.xts-tab-content {
	display: none;

	&.xts-active {
		display: block;
	}

	.xts-field {
		padding: 0;
	}
}

.xts-nav {
	display: flex;
	margin-bottom: 0;
	margin-top: 0;
}

.xts-nav-tabs {

	> li {
		margin-bottom: 0;

		a {
			display: flex;
			align-items: center;
			color: rgba(16, 16, 16, .8);
			font-weight: 600;
			font-size: 14px;
			box-shadow: none;
			transition: opacity .3s ease;
			// padding: 0 7px 0 7px;

			&:before {
				font-family: dashicons;
				font-size: 18px;
				margin-inline-end: 5px;
			}
		}

		&.xts-active {

			a {
				color: $xts-color-primary;
			}
		}

		&:not(.xts-active) {

			&:hover {

				a {
					opacity: .6;
				}
			}
		}

		&:not(:last-child) {
			margin-inline-end: 15px;
		}
	}
}

//**** TABS ICONS ****//

.xts-i-desktop {

	&:before {
		content: '\f472';
	}
}

.xts-i-tablet {

	&:before {
		content: '\f471';
	}
}

.xts-i-mobile {

	&:before {
		content: '\f470';
	}
}