# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# IDE
.vscode
.idea

# Logs
*.log
wp-content/logs/
wp-content/wflogs/

# Cache
wp-content/cache/
wp-content/wphb-cache/
wp-content/wp-rocket-config/

# Temporary files
wp-content/upgrade/
wp-content/upgrade-temp-backup/

# Node modules (if any)
node_modules/

# Environment files
.env.local
.env.*.local

