/*min-width 992px */

.woocommerce-pagination:not(.wc-pagination-custom){
    display:none !important;
}

.products-custom-column{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.products-custom-column li {
     margin: 0 12px !important;
    margin-top: 2em !important;

}

.current-page {
    background: #dddddd;
}

.full-width {
    display:grid;
    grid-template-columns: 1fr;
    grid-temp
}


/* HEADER START */
header {
       display: grid;
    grid-auto-columns: auto;
    align-items: center;
    padding: 0 20px;
    grid-auto-flow: column;
    grid-template-rows: auto;
}

#site-navigation button {
    display: none;
}

#site-navigation #primary-menu {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr;

}


#masthead .icons {
    grid-column: 3/4;
    display: inline-grid;
    grid-template-columns: 30px 40px 40px;
    align-items: self-start;
    /* vertical-align: initial; */
    /*grid-row: 1/-1;*/
    /* text-align: right; */
    justify-content: flex-end;
        height: 20px;
   
}



/* HEADER END */




/* MAIN START */
main {


}



/**** SLIDER ****/
.slider_home {
        /*display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    */
    
    transition: 2s ease;
}




.slider-children {
    
        display: flex;
        min-height: 500px;
    /*display: grid;
    grid-template-columns: 50% 50%;
        grid-column: 1 / 4;
        */
}

.slider-children:nth-child(even) {
    
}

.sl-left {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sl-right {
    width: 50%;
}






/* ABOUT US */

#about .ico {
        opacity: 0.5;
}

#about .ico:hover {
        opacity: 1;
}
.aboutcontent {
    display: grid;
      grid-template-columns: 25% 70%;
    
}


.stayconnect {
        display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    justify-items: center;
}

.stayconnect ul {
 display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    /* list-style: none; */
    grid-gap: 60px;
    padding: 0;
    
}

.main-headings i:before {
    content: '';
    background: #f7f7f7;
    width: 2em;
    height: 2em;
    position: absolute;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    margin-top: -9px;
    /* left: 0; */
   margin-left: -10px;
    z-index: -25;
    border-left: 5px solid #f7f7f7;
    transform: skewX(
-9deg
);
    text-decoration: initial;
}




/* MAIN END  */




/* SIDEBAR START */

aside {
    display:none;   
}

/* SIDEBAR START */




/* FOOTER START */

footer {

}

/* FOOTER END */




.delivery-notice {
    background: black;
    color: white;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.03em;
    padding: 0.4em;
    font-size: 13px;

}



@media only screen and (max-width:768px ) {
    
   
    
    #home-top-cat ul {
    grid-template-columns: repeat(3, 1fr) !important;
    }
    
     #home-top-cat ul li:nth-last-of-type(1) {
         display:none;
     }
    
    .grid-popular {
        grid-template-columns:1fr !important ;
    
    
    grid-template-rows: repeat(3 , 1fr) !important;
    }
    
    .grid-popular .grid-0 ,  .grid-popular .grid-1 ,  .grid-popular .grid-2  ,  .grid-popular .grid-3 {
        grid-column: 1/1 !important;
         grid-row: auto !important;
    }
    
    .dash-icon {
          display: inline-flex;
}

    
    #footer {
        grid-template-columns:1fr !important ;
    }
    
    #footer-sidebar5 {
       grid-column: 1/1 !important;    }
    
}



@media only screen and (min-width: 992px) {
    
    .dash-icon {
    display:none;
}

}


@media only screen and (max-width: 690px) {
    
    .products-custom-column{
       margin: 0 auto !important;
    width: 94%;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    
    .products-custom-column li{
        margin: 0 auto;
    width: 90% !important;

    }
    
}


@media only screen and (max-width: 500px) {
    
   
    
    .top-header .top-notice {
        display:none;
    }
    .grid-popular .grid-2 , .grid-popular .grid-1 , .grid-popular .grid-3, .grid-popular .grid-4 {
       
    background-position: center;

    }
}














