/* HEADER */

.blog-home {
    grid-template-columns: 1fr 1fr;
}

#site-navigation {
    /*display:none;    */
}


.dash-icon:nth-of-type(1) {
      transform: translate(0 , -5px) scaleX(1.5);
}


.dash-icon:nth-of-type(2) {
        transform: translate(4px, 1px) scaleX(1.1);
}
.dash-icon:nth-of-type(3) {
       transform: translate(7px, 7px) scaleX(0.8);
}







/* NAVIGATION */

.toggle-display {
    left:0!important ;    
}

.toggle-menu .ico {
    
     transition: 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.toggle-icon-animate .ico:nth-of-type(3) {
     transition: 1s cubic-bezier(0.22, 0.61, 0.36, 1);
    display:none;
}

.toggle-icon-animate .ico:nth-of-type(1) {
    transform: rotate( -46deg ) translate(3px, 4px) scaleX(1.2);
     transition: 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.toggle-icon-animate .ico:nth-of-type(2) {
    transform: rotate(47deg) translate(2px , 0px) scaleX(1.2);
     transition: 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}


.overflowHidden {
    overflow: hidden !important;
}



.menu-item-has-children {
    
    position: relative;
}


.inner-toggle {
    position: relative;
}

.inner-toggle:after {
    content:''; 
    position: absolute;
    width:20px;
    height:20px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Layer_1' x='0px' y='0px' viewBox='0 0 330 330' style='enable-background:new 0 0 330 330;' xml:space='preserve'%3E%3Cpath id='XMLID_225_' d='M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z'/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
    right: 0;
    margin-right: 2em;
    bottom: 6px;
}




header h1 {
    line-height: 1.2em;
}

#site-navigation #primary-menu {
   
    position: fixed;
    z-index: 9999999;
    background: #ffffff;
    left: -100%;
    top: 0;
    height: 100%;
    grid-auto-flow: row;
    grid-template-rows: repeat(6 , fit-content(180px));
        margin-top: 0;
    padding-top: 3em;
    width: 84vw;
    transition: 1s cubic-bezier(0.22, 0.61, 0.36, 1);
    padding-left: 1em;
        -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    overflow: auto;
    
    
}


.menu ul li  {
    /*display: none;*/
}


.sub-menu {
        padding: 0;
}

.sub-menu > li a {
       font-size: 1rem !important;
    letter-spacing: 1.5px !important;    

}

.sub-menu > li:before {
     content: '';
    position: absolute;
    background-color: #858585;
    width: 5px;
    height: 5px;
    left: 0;
    margin-top: 11px;
}

.sub-menu > li{
      display: none;
      opacity: 0;
}


.menu li:not(.sub-menu li):before  {
    content: '';
    width: 74vw;
    height: 1px;
    position: absolute;
    background-color: #9c9c9c66;
    bottom: 0;
}




#site-navigation a {
   
   
    font-size: 1.2rem;
       
}

#site-navigation ul li  {
        padding: 0.9em;
        position: relative;
           
}

.menu:not(ul) li{
    
}





/* SLIDER */

.slider-heading , .slider-p , .sl-left button {
    position:relative;
    z-index:2;
    
}

.sl-right {
        position: absolute;
    background-size: 100%;
    z-index: 1;
    max-height: 350px;
    overflow: hidden;
    min-height: 350px;
    filter: opacity(0.2);
    background-position: top right -20vh;
    background-size: 80vh !important;
    /*background-attachment: fixed;*/
}


.slider-children {
  
    
}

.sl-left {
    width: 100%;
}

.sl-right {
    width: 100%;
}



.slider {
   
    max-height:100%;
}

.slider-children {
         max-height:100%;
         min-height:350px;
}
.car-button {
    bottom: 0;
    z-index:3;
}

.sl-left {
    background: whitesmoke;
        min-height: 270px;
}



.sl-left:before , .sl-right:before {
  
   display:none;

}


.sl-right:before {
  
    transform: skew(0deg);

}




/* about section */


 .aboutcontent {
    
    grid-template-columns: 1fr;
}

.aboutcontent  p {
    text-align: justify;
}


/* FOOTER */


 #footer .underline:after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 426.66667 426.66667'%3E%3Cpath d='m410.667969 229.332031h-394.667969c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h394.667969c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0' style='&%2310; fill: black;&%2310;'/%3E%3Cpath d='m213.332031 426.667969c-8.832031 0-16-7.167969-16-16v-394.667969c0-8.832031 7.167969-16 16-16s16 7.167969 16 16v394.667969c0 8.832031-7.167969 16-16 16zm0 0' style='&%2310; fill: black;&%2310;'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    background-color: #ff000000;
    position: absolute;
    right: 0;
    top: 0;
    /*margin-right: 60px;*/
  }
  
  #footer .underline {
          position: relative;
  }
  
  
  #footer-sidebar1 > *:not(h4), #footer-sidebar-2 > *:not(h4), #footer-sidebar3 > *:not(h4), #footer-sidebar4 > *:not(h4) {
    display: none;
}
  


.woocommerce .woocommerce-ordering {
    margin-bottom: 50px;
}




@media only screen and (max-width: 768px) {
    
    .blog-home {
        grid-template-columns: 1fr;
    }

    .top-notice {
        display:none    
    }
    
    #subscription-form form {
        flex-direction:column;
        margin-top: 0;
    }
    
    #subscription-form input[name=submit] {
    cursor: pointer;
    width: 252px;
}

#subscription-form input {
   
    margin-top: 10px;
     width: 252px;
         padding: 0;
    text-align: center;
}

#subscription-form {
    
    height: 180px;
}

.grid-popular .grid-0 {
    height: 450px;
}


.grid-popular > div {
        background-position: top;
}


    
}





@media only screen and (min-width: 650px) and (max-width: 992px) {
    
    .woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
            width: 46% !important;
    }
    
}



@media only screen and (max-width: 590px) {
    
    .woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
            width: 100% !important;
    }
    
    
.grid-popular .grid-0 {
    height: 220px;
}


    
}




